body {
    text-align: center;
    background: #ffffff;
    padding: 40px 20px 20px 20px;
}


h1 {
    font-size: 36px;
    line-height: 42px;
    color: #212121;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 409px;
    height: 38px;
    margin: 0 auto;
}

hr {
    width: 64px;
    height: 2px;
    left: 668px;
    top: 163px;
    border: 1px solid #E72424;
    margin: 20px auto 40px;
}


h5 {
    font-size: 14px;
    line-height: 19px;
    color: #86878b;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    width: 363px;
    height: 19px;
    left: 519px;
    top: 195px;
    margin: 0 auto;
}

.section {
    margin-top: 50px;
}


.text {
    display: inline-block;
    width: 350px;
    height: 225px;
    left: 143px;
    top: 31px;
    margin: 0;
}


.circle {
    width: 70px;
    height: 70px;
    position: relative;
    border: 1px solid #e72424;
    border-radius: 50%;
    mix-blend-mode: normal;
    box-sizing: border-box;
    margin: 0 auto;
  }


h2 {
    width: 189px;
    height: 29px;
    left: 81px;
    top: 100px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
    margin: 0 auto;
}

p {
    width: 350px;
    height: 60px;
    left: 0px;
    top: 145px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000; 
}

.light, .lightning, .keyboard {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -18px 0 0 -12px;
}

.light {    
    width: 23px;
    height: 30px;
    background: url(img/light.png);
}


.keyboard {
    width: 37px;
    height: 26px;
    background: url(img/keyboard.png);
    margin: -14px 0 0 -18px;
}

.lightning {
    width: 21px;
    height: 33px;
    background: url(img/lightning.png);
    margin: -16px 0 0 -10px;
}